PUERTO_ESCUCHA=8002
TAM_MEMORIA=4096
TAM_PAGINA=64
ENTRADAS_POR_TABLA=4
CANTIDAD_NIVELES=2
RETARDO_MEMORIA=500
PATH_SWAPFILE=/home/utnso/tp-2025-1c-Sinergia-SO-13/memoria/swap_folder/swapfile.bin
RETARDO_SWAP=15000
LOG_LEVEL=INFO
DUMP_PATH=/home/utnso/tp-2025-1c-Sinergia-SO-13/memoria/dump_files
PATH_INSTRUCCIONES=/home/utnso/tp-2025-1c-Sinergia-SO-13/pruebas